<div class="ui-widget">
  <label for="registerJuggler">Registersuche</label>
  <input id="registerJuggler">
</div>

<div class="ui-widget" style="margin-top:2em; font-family:Arial">
  Registerzuordnungen
  {% include 'PapyrillioBeehiveBundle:Register:snippetFolder.html.twig' with {'correction': correction} %}
</div>
