/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.ini
/.project
/.settings
*.php~
/src/Papyrillio/BeehiveBundle/Resources/data/idno.log
/src/Papyrillio/BeehiveBundle/Resources/data/idno.sh
/src/Papyrillio/BeehiveBundle/Resources/data/DDB_EpiDoc_XML
/src/Papyrillio/BeehiveBundle/Resources/data/import.csv
