{% extends 'base.html.twig' %}

{% block body %}
  <h1>Beehive</h1>
  <p>An&nbsp;<b>apiary</b>&nbsp;(also known as a&nbsp;<b>bee yard</b>) is a location where&nbsp;<a href="/wiki/Beehive_(beekeeping)" class="mw-redirect" title="Beehive (beekeeping)">beehives</a>&nbsp;of&nbsp;<a href="/wiki/Honey_bee" title="Honey bee">honey bees</a>&nbsp;are kept. Apiaries come in many sizes and can be rural or urban depending on the honey production operation. Furthermore, an apiary may refer to a hobbyist's hives or those used for commercial or educational usage. It can also be a wall-less, roofed structure, similar to a&nbsp;<a href="/wiki/Gazebo" title="Gazebo">gazebo</a> which houses hives. &nbsp</p>   
{% endblock %}