{% extends 'frontend.html.twig' %}

{% block body %}
  <div style="border: steelblue solid 0.1em; background-color: lightsteelblue;">
    <div style="margin-top: 20px; padding: 0 .7em; text-align: center;">
      The user can expect the information provided here to be complete for <strong>BL XII and BL XIII</strong>. Entries from earlier BL volumes are only extremely sporadic at present (November 2019).</p>
    </div>
  </div>
{% endblock %}
