{% extends 'frontend.html.twig' %}

{% block body %}
  <p>
    The user can expect the information provided here to be complete for all of the Berichtigungsliste <b>(BL I - XIII)</b> and all of the Bulletin of Online Emendations to Papyri <b>(BOEP 1.1 - 11)<//bb> (December 2023).
  </p>
{% endblock %}
