{% extends 'frontend.html.twig' %}

{% block body %}
<p>Herzlich Willkommen bei der Online-Version der Berichtigungsliste!</p>

<p>Der Inhalt von BL XIII wurde ursprünglich in eine Datenbank eingegeben.
Diese Daten wurden dann verarbeitet, um den gedruckten Band zu erstellen.</p>

<p>Der Inhalt von BL XII, der noch in Form einer Word-Datei vorlag, wurde
in die Datenbank aufgenommen. Diese Informationen sind seit einigen Jahren
über https://aquila.zaw.uni-heidelberg.de/ verfügbar.</p>

<p>Im Jahr 2007 wurde eine CD-ROM mit den Bänden I-XI zum Kauf angeboten.
Dies war jahrelang eine große Hilfe und erleichterte die Bände nach Informationen
zu durchsuchen. Natürlich gab es einige Fehler und Ungenauigkeiten. Mit der Zeit
wurde aber die CD zunehmend mit den sich ständig verändernden
Computer-Betriebssystemen nicht mehr kompatibel.</p>

<p>Vor einigen Jahren war das in Heidelberg der Fall. Alle Daten, die von der BL-CD abgerufen werden konnten, wurden in Spreadsheets gespeichert. Im Laufe der Monate und Jahre wurde die Zeit gefunden, diese so aufzubereiten, dass sie zu den bestehenden Daten in der BL-Datenbank (Bienenstock) hinzugefügt werden konnten. Natürlich gibt es noch Fehler und einige fehlende Daten, aber es ist jetzt möglich, diese Fehler zu korrigieren und mit der Zeit mehr und mehr zu einer wirklich genauen Speicherung aller Druckdaten zu gelangen.</p>
{% endblock %}
