{% extends 'frontend.html.twig' %}

{% block beta %}
  Liste der Editionen
{% endblock %}

{% block body %}
<ul style="columns: 4">
  {% for edition in editions %}
  <li>
  <a href="{{ path('PapyrillioBeehive_ApiaryHoney', {'type': 'editie', 'id': edition.id}) }}" title="{{ edition.sort }}">{{ edition.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
