{% extends 'frontend.html.twig' %}

{% block beta %}
  Liste der Editionen
{% endblock %}

{% block body %}
<ul style="columns: 4">
  {% for edition in editions %}
  <li>
  {{ edition.title }}
  </li>
  {% endfor %}
</ul>
{% endblock %}
