{% extends 'base.html.twig' %}

{% block body %}

<h3>Neue Edition</h3>
<form id="editionNew" class="new" action="{{ path('PapyrillioBeehive_EditionNew') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    
    {{ form_widget(form) }}

    <input class="submit" type="submit" name="new" value="Datensatz anlegen" />
</form>

{% endblock %}
