/* global site structure */

body {
  color: white;
  font-size: 66%;
  /*background: url("dark-hive/images/ui-bg_highlight-soft_35_222222_1x100.png") repeat-x scroll 50% 50% #222222;*/
  background-color: #222222;
}

div#site {
  height: auto !important;
  min-height: 100%;
  position: relative;
  width: 1024px;
  margin: 0 auto;
  color: white;
  /*background: url("dark-hive/images/ui-bg_highlight-soft_35_222222_1x100.png") repeat-x scroll 50% 50% #111111;*/
 background-color: #111111;
}

div#header {
  border-bottom: 0.1em solid #0972A5;
  padding: 1em;
}

div#content {
  min-height: 100%;
  padding: 1em 1em 5em;
}

div#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 0.1em solid #0972A5;
}

/* global element styling */

a {
  color: #0972A5;
}

p {
  padding: 1em;
}

h3 {
  text-align: center;
  width: auto;
}

h3 span {
  font-size: 75%;
}

.highlight {
  color: white;
  line-height: 2em;
  padding: 0.1em 0.4em;
  font-size: 1em;
  border: 1px solid #26B3F7;
  background: url("dark-hive/images/?new=0972a5&w=1&h=100&f=png&q=100&fltr[]=over|textures/04_highlight_hard.png|0|0|20") repeat-x scroll 50% 50% #0972A5;
}

form#login {
  margin: 0 auto;
  width: 19em;
  padding: 10em;
}

form#login label{
  float: left;
  margin: 0.2em;
}

form#login input{
  float: right;
  margin: 0.2em;
}

form#login input.data{
  border: 0.1em solid #0972A5;
  width: 12em;
}

div.log{
  height: 20em;
}
