<div id="registerJuggler" class="actionHolder">
  <label>Registersuche</label>
  <input/>
    {% if correction and correction.id %}
      <a class="" href="#" onclick="javascript: if(confirm('Neuen Eintrag `' + $('div#registerJuggler input').val() + '` wirklich anlegen?')){$('#registerFolder').load('{{ path('PapyrillioBeehive_RegisterCreateAndAssign', {'correctionId': correction.id}) }}', {newEntry: $('div#registerJuggler input').val()});}; return false;">Neuen Registereintrag anlegen</a>
    {% else %}
      <a class="" href="#" onclick="javascript: if(confirm('Neuen Eintrag `' + $('div#registerJuggler input').val() + '` wirklich anlegen?')){$.post('{{ path('PapyrillioBeehive_RegisterCreate') }}', {newEntry: $('div#registerJuggler input').val()}, function(data){ $('#registerFolder ul').append(data); })}; return false;">Neuen Registereintrag anlegen</a>
    {% endif %}
</div>

<div id="registerFolder">
  {% include 'PapyrillioBeehiveBundle:Register:snippetFolder.html.twig' with {'correction': correction} %}
</div>